body {
    font-family: Arial, sans-serif;
    background-color: #deeab2;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-top: 0;
  }
  
  .quote-container {
    margin-bottom: 20px;
  }
  
  #new-quote-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #new-quote-btn:hover {
    background-color: #45a049;
  }
  

  #contribute-container {
    margin-top: 30px;
    text-align: left;
  }
  
  #contribute-container h2 {
    margin-top: 0;
  }
  
  #contribute-container input[type="text"] {
    width: 95%;
    padding: 10px;
    margin: 10px 50px 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  
  #contribute-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #contribute-container button:hover {
    background-color: #45a049;
  }
  